
<div class="section">
  <div class="section-content text-center vertical-align">
    <h2>Contact</h2>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <img id="contact" ng-src="../images/contact.png" height=150px>
        </div>
        <div class="col-md-8 contact">
          <p>
            <strong>Email: </strong>
            <a href="mailto:castengo23@gmail.com">castengo23@gmail.com</a>
          </p>
          <p>
            <strong>Mobile: </strong>
            <a href="tel:+1-928-965-1214">(928)954-1214</a>
          </p>
          <p>Salt Lake City, Utah</p>
        </div>
      </div>

    </div>
  </div>
</div>
