
<div class="section">
  <div class="section-content text-center vertical-align">
    <h2>Courses</h1>
    <p><i>Virginia Tech:</i></p>
      <ul>
        <li>Object Oriented Programming in Java</li>
      </ul>
    <p><i>Coursera:</i></p>
    <ul>
      <li>Ruby on Rails: An Introduction</li>
      <li>Rails with Active Record and Actionpack</li>
      <li>Ruby on Rails Web Services and Integration with MongoDB</li>
      <li>HTML, CSS, and Javascript for Web Developers</li>
      <li>Single Page Web Applications with AngularJS</li>
    </ul>
  </div>
</div>
