<div class="jumbotron-background">
  <div class="jumbotron">
    <div class="container">
      <h1>Let me code it for you!</h1>
      <p>I'm a chemical engineer gone full-stack web developer looking for new projects or a junior full-time position in Salt Lake City. I enjoy coding responsive and dynamic web applications with unique functionality. I just love to code!</p>
      <p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Make my website</a>
        <a class="btn btn-primary btn-lg" href="#" role="button">Hire me</a>
      </p>
     </div>
  </div>
</div>
