<div class="projects" id="projects">
  <div class="title text-center">
    <h2>Website Projects</h2>
    <div class="center-block">
      <div class="little-circle"></div>
      <div class="little-circle"></div>
      <div class="little-circle"></div>
    </div>
  </div>
  <div class="project-list">
    <projects project-list="projectList.projectList" ></projects>
  </div>
  <div class="mobile-project-list">
    <mobile-projects project-list="projectList.projectList"></mobile-projects>
  </div>
  <div ui-view='projectDetail'>
    <i>Select a project to view more details!</i>
  </div>
</div>
