<div class="projects" id="projects">
  <div class="title text-center">
    <h2>Website Projects</h2>
    <div class="center-block">
      <div class="little-circle"></div>
      <div class="little-circle"></div>
      <div class="little-circle"></div>
    </div>
  </div>
  <div class="project-list">
    <project ng-repeat="project in projectList.projectList" project="project"></project>
  </div>
  <div class="mobile-project-list">
    <project-mobile ng-repeat="project in projectList.projectList" project="project"></project-mobile>
  </div>
  <div ui-view='projectDetail'>
    <i>Select a project to view more details!</i>
  </div>
</div>
