
<div ng-repeat="project in $ctrl.projectList">
  <div class="project-description container-fluid">
    <h2>{{ project.name }}</h2>
    <p>{{ project.description }}</p>
    <div class="frameworks text-center">
      <span ng-repeat="framework in project.frameworks">
        <img ng-src="{{framework.logo_url}}" alt="{{framework.name}}">
      </span>
    </div>
    <div class="text-center">
      <a ng-ref="project.url" target="_blank" class="btn btn-default">View this website!</a>
    </div>
  </div>
</div>
