body {
  font-family: Courier New;
  font-size: 18px; }

h1, h2, h3 {
  font-weight: 700;
  padding: 10px; }

a:hover, a.active {
  text-decoration: none; }

hr {
  margin-top: 50px; }

.title {
  text-transform: uppercase;
  margin-bottom: 40px;
  font-family: 'Oswald', sans-serif; }
  .title h1 {
    margin-bottom: 2px;
    font-size: 40px;
    padding-bottom: 0; }
  .title h2 {
    display: inline-block;
    margin-bottom: 2px;
    font-size: 32px;
    padding-bottom: 0; }
  .title p {
    margin-bottom: 2px; }
  .title .little-circle {
    display: inline-block;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 1px;
    box-shadow: 1px 1px 5px #888888;
    background: rgba(224, 108, 117, 0.7);
    background: -webkit-radial-gradient(circle, rgba(224, 108, 117, 0.7), #e06c75);
    background: -o-radial-gradient(circle, rgba(224, 108, 117, 0.7), #e06c75);
    background: -moz-radial-gradient(circle, rgba(224, 108, 117, 0.7), #e06c75);
    background: radial-gradient(circle, rgba(224, 108, 117, 0.7), #e06c75); }

.section {
  height: 420px;
  border-radius: 5px; }
  .section .section-content {
    position: relative;
    top: 40%;
    transform: translateY(-40%); }
    .section .section-content p {
      text-align: justify;
      padding: 10px; }

.circle {
  font-family: 'Oswald', sans-serif;
  color: white;
  border-radius: 50%;
  width: 130px;
  height: 130px;
  text-align: center;
  margin: auto;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-shadow: 1px 1px #000000;
  box-shadow: 2px 2px 5px #888888;
  background: rgba(86, 182, 194, 0.7);
  background: -webkit-radial-gradient(circle, rgba(86, 182, 194, 0.7), #56b6c2);
  background: -o-radial-gradient(circle, rgba(86, 182, 194, 0.7), #56b6c2);
  background: -moz-radial-gradient(circle, rgba(86, 182, 194, 0.7), #56b6c2);
  background: radial-gradient(circle, rgba(86, 182, 194, 0.7), #56b6c2);
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -ms-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s; }
  .circle p {
    position: relative;
    top: 40%;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase; }
  .circle:hover {
    opacity: 0.6; }

.active .circle {
  background: rgba(140, 92, 159, 0.7);
  background: -webkit-radial-gradient(circle, rgba(140, 92, 159, 0.7), #8c5c9f);
  background: -o-radial-gradient(circle, rgba(140, 92, 159, 0.7), #8c5c9f);
  background: -moz-radial-gradient(circle, rgba(140, 92, 159, 0.7), #8c5c9f);
  background: radial-gradient(circle, rgba(140, 92, 159, 0.7), #8c5c9f); }

.glyphicon {
  margin-top: 10px; }

#contact {
  -ms-transform: rotate(35deg);
  /* IE 9 */
  -webkit-transform: rotate(35deg);
  /* Chrome, Safari, Opera */
  transform: rotate(35deg); }

.projects {
  margin: 20px 100px;
  border-radius: 10px;
  padding: 20px;
  min-height: 720px;
  text-align: center; }
  .projects .project-list {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    display: inline-block;
    padding: 10px; }
    .projects .project-list .active .project-detail {
      background: rgba(140, 92, 159, 0.7);
      background: -webkit-radial-gradient(circle, rgba(140, 92, 159, 0.7), #8c5c9f);
      background: -o-radial-gradient(circle, rgba(140, 92, 159, 0.7), #8c5c9f);
      background: -moz-radial-gradient(circle, rgba(140, 92, 159, 0.7), #8c5c9f);
      background: radial-gradient(circle, rgba(140, 92, 159, 0.7), #8c5c9f); }
    .projects .project-list .project-detail {
      display: inline-block;
      width: 200px;
      margin: 3px;
      vertical-align: top;
      box-shadow: 1px 1px 5px #000000;
      background: rgba(86, 182, 194, 0.7);
      background: -webkit-radial-gradient(circle, rgba(86, 182, 194, 0.7), #56b6c2);
      background: -o-radial-gradient(circle, rgba(86, 182, 194, 0.7), #56b6c2);
      background: -moz-radial-gradient(circle, rgba(86, 182, 194, 0.7), #56b6c2);
      background: radial-gradient(circle, rgba(86, 182, 194, 0.7), #56b6c2);
      -webkit-transition: opacity 0.5s;
      -moz-transition: opacity 0.5s;
      -ms-transition: opacity 0.5s;
      -o-transition: opacity 0.5s;
      transition: opacity 0.5s; }
      .projects .project-list .project-detail p {
        text-transform: uppercase;
        padding-top: 5px;
        color: white;
        text-shadow: 1px 1px #000000; }
      .projects .project-list .project-detail:hover {
        opacity: 0.6; }
      .projects .project-list .project-detail img {
        padding: 10px;
        height: 150px; }
  .projects .project-description {
    position: relative;
    text-align: left;
    margin-top: 40px;
    border: 1px solid rgba(171, 178, 191, 0.3);
    border-radius: 5px; }
    .projects .project-description h2 {
      margin-bottom: 15px; }
    .projects .project-description .frameworks {
      position: absolute;
      top: 20px;
      right: 20px; }
      .projects .project-description .frameworks img {
        height: 50px; }
    .projects .project-description p {
      padding: 10px; }

.btn-default {
  color: white;
  background-color: #e06c75;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 5px 30px;
  -webkit-transition: background 0.5s;
  -moz-transition: background 0.5s;
  -ms-transition: background 0.5s;
  -o-transition: background 0.5s;
  transition: background 0.5s; }
  .btn-default:hover {
    color: white;
    background-color: #8c5c9f; }

.footer-pusher {
  height: 300px; }

footer {
  text-align: center;
  margin-top: 20px;
  height: 70px;
  background: rgba(171, 178, 191, 0.2);
  background: -webkit-linear-gradient(down, rgba(171, 178, 191, 0.2), rgba(171, 178, 191, 0.1));
  background: -o-linear-gradient(down, rgba(171, 178, 191, 0.2), rgba(171, 178, 191, 0.1));
  background: -moz-linear-gradient(down, rgba(171, 178, 191, 0.2), rgba(171, 178, 191, 0.1));
  background: linear-gradient(down, rgba(171, 178, 191, 0.2), rgba(171, 178, 191, 0.1)); }
  footer p {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }

/*# sourceMappingURL=styles.css.map */
